## Deliverable 3. Create a Travel Itinerary Map.

In [26]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
import numpy as np

# Import API key
from Config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
# vacation_df.head()
vacation_df = pd.read_csv("Vacation_Search/WeatherPY_vacations.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,0,Kudahuvadhoo,MV,82.06,clear sky,2.6708,72.8944,Niyama Private Islands Maldives
1,1,Bambous Virieux,MU,82.99,light rain,-20.3428,57.7575,Casa Tia Villa
2,13,Souillac,MU,80.60,scattered clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
3,18,Mahibadhoo,MV,82.81,clear sky,3.7833,72.9667,Omadhoo Inn
4,50,Butaritari,KI,81.75,light rain,3.0707,172.7902,Isles Sunset Lodge
...,...,...,...,...,...,...,...,...
56,639,Biak,ID,80.55,overcast clouds,-0.9131,122.8766,Penginapan Kim
57,646,Luwuk,ID,82.36,overcast clouds,-0.9516,122.7875,Hotel Santika Luwuk
58,665,Shadegan,IR,84.20,scattered clouds,30.6497,48.6647,مسافر خانه ابو ولید
59,673,Yei,SS,84.16,overcast clouds,4.0950,30.6779,City Link Hotel
60,679,Yambio,SS,80.19,broken clouds,4.5721,28.3955,Naivasha Hotel

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weaher Description</dt><dd>{Current Weather}</dd>
<dt>Max Temp</dt><dd>{Max Temp} *F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [31]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(40.0, 41.0), zoom_level=3)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]=="Zemio")]
vacation_end = vacation_df.loc[(vacation_df["City"]=="Zemio")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]=="Yambio")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]=="Yei")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=="Adjumani")]

In [33]:
vacation_end

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
13,138,Zemio,CF,80.49,overcast clouds,5.0314,25.1361,OCHA Office

In [34]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
60,679,Yambio,SS,80.19,broken clouds,4.5721,28.3955,Naivasha Hotel

In [35]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
59,673,Yei,SS,84.16,overcast clouds,4.095,30.6779,City Link Hotel

In [36]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
50,546,Adjumani,UG,82.49,overcast clouds,3.3779,31.7909,Hotel Zawadi

In [37]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start.loc[13]["Lat"],vacation_start.loc[13]["Lng"])
end = (vacation_start.loc[13]["Lat"],vacation_start.loc[13]["Lng"])
stop1 = (vacation_stop1.loc[60]["Lat"],vacation_stop1.loc[60]["Lng"])
stop2 = (vacation_stop2.loc[59]["Lat"],vacation_stop2.loc[59]["Lng"])
stop3 = (vacation_stop3.loc[50]["Lat"],vacation_stop3.loc[50]["Lng"])

print(start)
print(end)
print(stop1)
print(stop2)
print(stop3)

(5.0314, 25.1361)
(5.0314, 25.1361)
(4.5721, 28.3955)
(4.095, 30.6779)
(3.3779, 31.7909)

In [40]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
central_africa_tour = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(central_africa_tour)
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3 ],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,138,Zemio,CF,80.49,overcast clouds,5.0314,25.1361,OCHA Office
1,679,Yambio,SS,80.19,broken clouds,4.5721,28.3955,Naivasha Hotel
2,673,Yei,SS,84.16,overcast clouds,4.0950,30.6779,City Link Hotel
3,546,Adjumani,UG,82.49,overcast clouds,3.3779,31.7909,Hotel Zawadi

In [45]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weaher Description</dt><dd>{Current Weather}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [52]:
# 11a. Add a marker layer for each city to the map.

figure_layout = {
    'width': '1000px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px'}
    

fig = gmaps.figure(layout = figure_layout, center=(30.0, 31.0), zoom_level=5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)



# 11b. Display the figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', padding='1px', width='1000px'))